<?xml version="1.0" encoding="UTF-8"?>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~ Copyright (c) 2015. Lorem ipsum dolor sit amet, consectetur adipiscing elit.                                      ~
  ~ Morbi non lorem porttitor neque feugiat blandit. Ut vitae ipsum eget quam lacinia accumsan.                       ~
  ~ Etiam sed turpis ac ipsum condimentum fringilla. Maecenas magna.                                                  ~
  ~ Proin dapibus sapien vel ante. Aliquam erat volutpat. Pellentesque sagittis ligula eget metus.                    ~
  ~ Vestibulum commodo. Ut rhoncus gravida arcu.                                                                      ~
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<!--
	- Middle tier application context definition for the image database.
-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">
    <bean id="ResiponsibilityHandlerAspect" class="com.machen.ChainOfResiponsibility.ResiponsibilityHandlerAspect"/>
    <bean id="ConcreteHandler1" class="com.machen.ChainOfResiponsibility.ConcreteHandler1">
        <property name="successor" ref="ConcreteHandler2"/>
        <property name="name" value="h1"/>
    </bean>
    <bean id="ConcreteHandler2" class="com.machen.ChainOfResiponsibility.ConcreteHandler2">
        <property name="name" value="h2"/>
    </bean>
    <bean id="test" class="com.machen.ChainOfResiponsibility.ConcreteHandlerTest">
        <property name="successor" ref="ConcreteHandler1"></property>
        <property name="name" value="hTest"></property>
    </bean>
    <aop:config>
        <aop:aspect id="check" ref="ResiponsibilityHandlerAspect">
            <aop:pointcut id="checkJointPoint"
                          expression="execution(* handlerRequest(..))"/>
            <aop:after method="checkResiponsibility" pointcut-ref="checkJointPoint"/>
        </aop:aspect>
    </aop:config>
</beans>
