<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="z.z.w.test.dao.TestMapper">
	<resultMap id="userResultMap" type="z.z.w.test.entity.TbTestUser">
		<id column="ID" property="id" jdbcType="BIGINT" />
		<result column="MERCHANT_ACCOUNT" property="merSmsChanSig"
			jdbcType="VARCHAR" />
		<result column="PUSH_URL" property="merchantSmsUid" jdbcType="VARCHAR" />
		<result column="BAND_IP" property="sendSmsCode" jdbcType="VARCHAR" />
		<result column="IS_VALIDE_IP" property="merchantSmsSendId"
			jdbcType="INTEGER" />
	</resultMap>
	<select id="selectAll" resultMap="userResultMap">
		select ID, MERCHANT_ACCOUNT,
		PUSH_URL,BAND_IP,IS_VALIDE_IP from
		merchant_url_ip
		order by id desc
	</select>
	<select id="selectUserById" parameterType="java.lang.Long"
		resultMap="userResultMap">
		selectID, MERCHANT_ACCOUNT,
		PUSH_URL,BAND_IP,IS_VALIDE_IP
		from
		merchant_url_ip where id= #{id}
	</select>
</mapper>