<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
				        http://www.springframework.org/schema/context 
				        http://www.springframework.org/schema/context/spring-context-3.2.xsd
				        http://www.springframework.org/schema/jee 
				        http://www.springframework.org/schema/jee/spring-jee-3.2.xsd
				        http://www.springframework.org/schema/jdbc 
				        http://www.springframework.org/schema/jdbc/spring-jdbc-3.2.xsd
				        http://www.springframework.org/schema/tx 
				        http://www.springframework.org/schema/tx/spring-tx-3.2.xsd">

	<!-- Biz Service -->
	<bean id="bizServiceImpl" class="z.z.w.test.service.biz.BizServiceImpl"
		scope="prototype">
		<property name="threadPoolTaskExecutor" ref="threadPoolTaskExecutor" />
	</bean>

	<!-- Biz Service -->
	<!--创建数据映射器，数据映射器必须为接口 -->
	<bean id="merchantSmsSendMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="z.z.w.test.dao.biz.MerchantSmsSendMapper"></property>
		<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
	</bean>
	<bean id="merchantSmsSendService" class="z.z.w.test.service.biz.MerchantSmsSendService">
		<property name="merchantSmsSendMapper" ref="merchantSmsSendMapper" />
	</bean>

	<bean id="dBInsertServiceImpl" class="z.z.w.test.service.biz.DBInsertServiceImpl"
		scope="prototype">
		<property name="merchantSmsSendService" ref="merchantSmsSendService" />
	</bean>

	<bean id="dBDeleteServiceImpl" class="z.z.w.test.service.biz.DBDeleteServiceImpl"
		scope="prototype">
		<property name="merchantSmsSendService" ref="merchantSmsSendService" />
		<property name="threadPoolTaskExecutor" ref="threadPoolTaskExecutor" />
	</bean>

	<bean id="dBSelectServcieImpl" class="z.z.w.test.service.biz.DBSelectServcieImpl"
		scope="prototype">
		<property name="merchantSmsSendService" ref="merchantSmsSendService" />
		<property name="threadPoolTaskExecutor" ref="threadPoolTaskExecutor" />
	</bean>
	
	<bean id="poolSizeCalServiceImpl" class="z.z.w.test.service.biz.PoolSizeCalServiceImpl"
		scope="prototype">
		<property name="merchantSmsSendService" ref="merchantSmsSendService" />
	</bean>

</beans>