<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

    <!-- Biz Service -->
    <bean id="bizServiceImpl" class="z.z.w.test.service.biz.BizServiceImpl"
          scope="prototype">
        <property name="threadPoolTaskExecutor" ref="threadPoolTaskExecutor"/>
    </bean>

    <!-- Biz Service -->
    <!--创建数据映射器，数据映射器必须为接口 -->
    <bean id="merchantSmsSendMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="z.z.w.test.dao.biz.MerchantSmsSendMapper"></property>
        <property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
    </bean>
    <bean id="merchantSmsSendService" class="z.z.w.test.service.biz.MerchantSmsSendService">
        <property name="merchantSmsSendMapper" ref="merchantSmsSendMapper"/>
    </bean>

    <bean id="dBInsertServiceImpl" class="z.z.w.test.service.biz.DBInsertServiceImpl"
          scope="prototype">
        <property name="merchantSmsSendService" ref="merchantSmsSendService"/>
    </bean>

    <bean id="dBDeleteServiceImpl" class="z.z.w.test.service.biz.DBDeleteServiceImpl"
          scope="prototype">
        <property name="merchantSmsSendService" ref="merchantSmsSendService"/>
        <property name="threadPoolTaskExecutor" ref="threadPoolTaskExecutor"/>
    </bean>

    <bean id="dBSelectServcieImpl" class="z.z.w.test.service.biz.DBSelectServcieImpl"
          scope="prototype">
        <property name="merchantSmsSendService" ref="merchantSmsSendService"/>
        <!--<property name="threadPoolTaskExecutor" ref="threadPoolTaskExecutor"/>-->
        <!--<property name="shardRedisOperator" ref="shardRedisOperator"/>-->
    </bean>

    <bean id="poolSizeCalServiceImpl" class="z.z.w.test.service.biz.PoolSizeCalServiceImpl"
          scope="prototype">
        <property name="merchantSmsSendService" ref="merchantSmsSendService"/>
    </bean>

    <!--<bean id="redisService" class="z.z.w.test.service.RedisService"/>-->

    <bean id="taskTestServiceImpl" class="z.z.w.test.service.impl.TaskTestServiceImpl">
        <property name="merchantSmsSendService" ref="merchantSmsSendService"/>
    </bean>
    <bean id="taskTestTwoServiceImpl" class="z.z.w.test.service.impl.TaskTestTwoServiceImpl"/>

    <bean id="vosServiceImpl" class="z.z.w.test.service.vos.VosServiceImpl"/>
</beans>
